@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background: #27293d;
    color: #fff;
}


html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;
    background: transparent; 
}

.btn:hover {
    background-color: transparent;
}


