@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background: #27293d;
    color: #fff;
}


html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;
    background: transparent; 
}

.btn:hover {
    --tw-border-opacity: 1;
    border-color: hsl(var(--b3) / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: transparent;
}


